<div ng-controller="signInCtrl" class="modal-center animated fadeInUp text-center" style="width:200px;margin:-80px 0 0 -100px;">
  <div class="thumb-lg">
    <img src="img/avatar1.png" class="img-circle">
  </div>
  <p class="h4 m-t m-b">Cheng Weinan</p>
  <div class="input-group">
    <input type="password" class="form-control text-sm btn-rounded no-border bg-light" ng-model="password" placeholder="Enter pwd to continue">
    <span ng-click="signIn()" class="input-group-btn">
      <a class="btn btn-success btn-rounded no-border"><i class="fa fa-arrow-right"></i></a>
    </span>
  </div>
</div>